/* --- Globle CSS Start Here */
    *{
        padding: 0px; margin: 0px; box-sizing: border-box;
        border: none; outline: transparent; list-style: none; text-decoration: none;
    }
/* --- Globle CSS Start Here */